body{
	margin:0;
}

header {
	background:url(../img/headerbg.png) no-repeat center top / cover;
	margin: 0;	
}

.container{
	width: 1140px;
	margin:0 auto;
}

.headline{
background: #333;
opacity: .7;
box-shadow: 0 30px 50px black;
height: 80px;
}

.logo{
	float: left;
	color: #fff;
	font-family: 'Lobster', cursive;
	font-size: 40px;
	margin-top: 10px;
}

nav{
	float: right;
	margin-top: 15px;
}



a {
	text-decoration: none;
	color: white;

}

nav li {
	display: block;
	float: left;
	margin-right: 30px;
}

h1 {
	color:#fff;
	text-align: center;
	font-size: 60px;
	padding-top: 150px;
	padding-bottom: 60px;
}

.OurWorks {
	box-shadow:inset 0px -3px 15px 0px #a8a09e;
	background-color:#fc5f45;
	border-radius:70px;
	border:3px solid #666;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:28px;
	font-weight:bold;
	padding:32px 76px;
	text-shadow:0px 3px 5px #787878;
	box-shadow: 0 15px 50px black;
}

.OurWorks:hover {
	background-color:#fc5f45;

}

.OurWorks:active {
	background-color: transparent;
	position:relative;
	top:2px;
	box-shadow: 0 5px 50px black;
}

.c1 {
	padding-bottom: 80px;
}

.features {
	width: 695px;
	margin:0 auto;
	text-transform: uppercase;
	font-size: 2px;
}
.f1 {
	float:left;
}
.f2 {

}
.f3 {
	float:right;
}

.features > *:first-child p {
  color: #22795b;
}

.features > *:nth-child(2) p {
  color: #b27cf5;
}

.features > *:last-child p {
  color: #d0974e;
}

.features div {
	display:inline-block;
}
